* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    overflow-x: scroll; 
    overflow-y: hidden; 
    height: 100vh; 
    display: flex; 
    flex-direction: row; 
    text-align: center;
}

.page {
    position: relative;
    min-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 20px;
}

.content {
    max-width: 800px;
}


h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

p {
    margin-bottom: 20px;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 50px;
  font-style: italic;
}

a {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

a:hover {
    color: gray; /* Cambia de color al pasar el mouse */
}

img.bottom-left {
  position: absolute;
  bottom: 10px;
  left: 30px;
  width: 400px; 
  height: auto;
  margin: 10px;
}

img.top-right {
  position: absolute;
  top: 0;
  right: 30px;
  width: 220px; 
  height: auto;
  margin: 10px;
}

ul {
    list-style-type: none; /* Elimina las viñetas */
    margin: 0;
    padding: 0;
    position: relative; /* Posición relativa para que los elementos <li> se posicionen dentro de este contenedor */
}

li {
    position: absolute;
    font-size: 1.5em; /* Tamaño de fuente ajustable */
}

/* Posiciones específicas para cada <li> */
.li1 {
    top: 50px;
    left: 500px;
}

.li2 {
    top: 200px;
    right: 50px;
}

.li3 {
    bottom: 300px;
    left: 200px;
}

.li4 {
    bottom: 0;
    right: 500px;
}

img.cara {
  position: absolute;
  top: 150px;
  right: 50px;
  width: 300px; 
  height: auto;
  margin: 10px;
}